html,body,head,main,footer,nav,div{margin:0;padding:0;}

main, head, footer{width: inherit;}
div,nav{width: inherit;}

h1,h2,h3,h4,h5,h6{text-align: center; margin:0 0;}

a:any-link{color: inherit;text-decoration: none;}
input, button{background: inherit; color: inherit; outline: none; border: none; font-family: inherit; font-size: inherit;}