.posts{display: flex; align-items: center; flex-direction: column; gap: 1em; max-width: inherit;}
.simple.post{display: flex; justify-content: space-around; flex-direction: column; align-items: center; width: 35em;max-width: 100vw; white-space: pre-line; border: 1px solid  var(--SYSTEM_0-6); box-shadow: 0 0 0 var(--BIN0) var(--SYSTEM_0-3); box-sizing: border-box; padding: var(--BIN4); border-radius: var(--BIN4); gap: var(--BIN3); background-color: var(--SYSTEM_0-0);}
.simple.post>h2{font-size: 1.5em;}
.simple.post>p{letter-spacing: 0.3px; font-family: serif;}
.simple.post>ul{margin: 0 0 0 1em; align-self: flex-start;}
.simple.post>img{width: 35em; height: auto; aspect-ratio: 16 / 9; border-radius: var(--BIN3); margin: 0 0 var(--BIN3) 0; max-width: 100vw;}
.simple.post>p>a{text-decoration: underline;}

.about.us{display: flex; align-items: center; justify-content: space-around; flex-direction: column;}
.facts.in_a.row{display: flex; align-items: center; justify-content: space-between; width: 100%; gap: 2em; }
.facts.in_a.row>.fact{display: flex; align-items: center; flex-direction: column; justify-content: center; gap: 1em;}
.facts>.fact>.icon{aspect-ratio: 1/1;display: flex; align-items: center; flex-direction: column; justify-content: flex-end; width: 2em;font-size:3em;}
.reverse.facts>.fact>h3{color: var(--SYSTEM_1-1);font-weight: 700;}
.reverse.facts>.fact>p{color: var(--SYSTEM_1-3);font-weight: 500; font-size: 0.9em;}
@media screen and (max-width: 90vh) {
  .facts.in_a.row{flex-direction: column;}
}
.full.divider{width: 100%;}
.thin.divider{height: 2px; background: #0002;}

.reverse{background: var(--foreground); color: var(--background);}
.seamless{width:calc(100vw); align-self: center;}
.block.with.faq{display: flex; align-items: center; justify-content: space-around; flex-direction: column; box-sizing: border-box; padding: 1em0;}
.faq>h2{margin: 0.75em 0;}
.faq>.QA{width: calc(var(--width) * 0.6); display: flex; flex-direction: column; align-items: flex-start; margin: 1em 0;}
.QA>h3{color: var(--SYSTEM_0-1); font-weight: 500;}
.QA>p{color: var(--SYSTEM_0-1); font-weight: 400;}
@media screen and (max-width: 90vh) {
  .block.with.faq>.QA{width: 90%;}
}
.block.with.reviews{display: flex; align-items: center; flex-direction: column; gap: 2em;}
.reviews>.review{width: calc(var(--width) * 0.6); display: flex; gap: 1em;}
.reviews>.review>.avatar{border-radius: 50%; width: 4em; aspect-ratio: 1/1;}
.reviews>.review>div{display: flex; align-items:flex-start; justify-content:center;  flex-direction: column;}
.reviews>.review>div>h3{color: var(--SYSTEM_1-1);}
.reviews>.review>div>p{font-weight: 500;}
@media screen and (max-width: 90vh) {
  .reviews>.review{width: 90%;}
}
.block.with.action.PF{display: flex; flex-direction: column; align-items: center; box-sizing: border-box; padding: 3em 0;}
.block.with.action.PF>h2, .block.with.action.PF>p, .block.with.action.PF>form{width: calc(var(--width) * 0.6); font-weight: 500; }
.reverse.block.with.action.PF>p{color: var(--SYSTEM_0-2); text-align: center;}
.reverse.block.with.action.PF>form.action.PF{color: var(--SYSTEM_0-2); text-align: center; margin: 2em 0 0 0;display: flex; gap: 0.1em;}
.reverse.block.with.action.PF>form.action.PF>input{color: var(--SYSTEM_0-2); box-sizing: border-box; padding: var(--BIN3); background: va(--SYSTEM_0-7); border: var(--BIN0) solid var(--SYSTEM_0-6); font-weight: 500;}
.reverse.block.with.action.PF>form.action.PF>input:hover{background: #000; transition: 0.5s; cursor: pointer;}
.reverse.block.with.action.PF>form.action.PF>input:first-child{width: 80%; border-radius: var(--BIN3) 0 0  var(--BIN3);}
.reverse.block.with.action.PF>form.action.PF>input:last-child{width: 20%; border-radius:0 var(--BIN3)   var(--BIN3) 0;}
@media screen and (max-width: 90vh) {
  .block.with.action.PF>h2, .block.with.action.PF>p, .block.with.action.PF>form{width: 90%;}
  .reverse.block.with.action.PF>form.action.PF>input:first-child{width: 60%; }
.reverse.block.with.action.PF>form.action.PF>input:last-child{width: 40%;}
}
.block.of.contacts {width: calc(var(--width) * 0.6);display: flex; flex-direction: column; align-items: center;}
.block.of.contacts > div{display: flex; flex-direction: column; align-items: flex-start;}
.block.of.contacts > div > .contact{display: flex; flex-direction: column; align-items: flex-start; margin: 1em 0 ;}
.block.of.contacts > div > .contact > h3{ color: var(--SYSTEM_1-1);font-weight: 500;}
.block.of.contacts > div > .contact > a{ font-weight: 500;}
.block.of.contacts > .dynamic{aspect-ratio: 1/1; background: #000; border-radius: var(--BIN3); margin: 1em 0 ;}

@media screen and (max-width: 90vh) {
  .block.of.contacts{width: 90%;}
}

.rohh.thone.privacy{display: flex; align-items: center; justify-content: center; max-width: 100VW; height: var(--BIN5); gap: 0.5EM; font-size: 0.75EM; border-top: 1px solid var(--SYSTEM_0-4);margin: var(--BIN5) 0 0 0 ;}