/* Variables*/
:root{
--BIN0:1PX;--BIN1:2PX;--BIN2:4PX;--BIN3:8PX;--BIN4:16PX;--BIN5:32PX;--BIN6:64PX;--BIN7:128PX;--BIN8:256PX;--BIN9:512PX;--BIN10:1024PX;

  --SYSTEM_0-0:#FFFF;
  --SYSTEM_0-1:#FFFD;
  --SYSTEM_0-2:#FFFB;
  --SYSTEM_0-3:#FFF9;
  --SYSTEM_0-4:#FFF7;
  --SYSTEM_0-5:#FFF5;
  --SYSTEM_0-6:#FFF3;
  --SYSTEM_0-7:#FFF1;

  --SYSTEM_1-0:#000F;
  --SYSTEM_1-1:#000D;
  --SYSTEM_1-2:#000B;
  --SYSTEM_1-3:#0009;
  --SYSTEM_1-4:#0007;
  --SYSTEM_1-5:#0005;
  --SYSTEM_1-6:#0003;
  --SYSTEM_1-7:#0001;
}